
html {
background-image: url(dust_scratches.png);

}

body {
  text-align: center;
  margin-top: 14%;

}

h1 {
  font-size: 370%;
  color: #0080ff;
  font-family: "Arial Black";
  padding: 0px;
  padding-bottom: 5px;
  margin: 0px;
}

p {
  font-size: 115%;
  font-family: courier;
  margin: 0;

}

a:hover {
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

#semi {
  color: black;
}

#nav {
  padding: 0px;
  padding-bottom: 20px;
  margin: 0px;
}

#GitHub {
  margin-right: 12px;
  width:60px;
  height:60px;
}

#twitter {
  margin-left: 12px;
  width:60px;
  height:60px;
}

#About {
  width: 75%;
  margin: auto;
}

#intro {
  width: 90%;
  margin: auto;
  margin-bottom: 40px;

}

@media screen and (max-width: 600px) {
  body {
    margin-top: 5%;
  }
  h1 {
    font-size: 35px;
  }
  p {
    font-size: 14px;
  }
  #About {
  width: 90%;
  }
  #twitter {
    margin-left: 8;
    width: 40px;
    height: 40px;

  }
  #GitHub {
    margin-right: 8;
    width: 40px;
    height: 40px;

  }
}
